header {
	width: 90%;
	left: 5%;
	top: 0;
	position: fixed;
}

div#Panel {
	background-color: mediumspringgreen;
	border-radius: 0px 15px 0px 15px;
	height: 60px;
	margin-bottom: 0px;
}

div#Limonne {
	float: left;
}

div#Limonne a {
	font-size: 20px;
	font-family: cursive;
	color: white;
	padding-left: 20px;
	text-decoration: none;
}

button#Exit {
	background-color: inherit;
	border: 0;
	height: inherit;
	left: 85%;
	top: 0;
	position: fixed;
	color: white;
	font-family: cursive;
	font-size: 20px;
	border-radius: inherit;
}

div#SearchAndFriends {
	float: left;
	width: 30%;
	height: 788px;
	border-right: 1px solid mediumspringgreen;
	border-bottom: 1px solid mediumspringgreen;
}

div#Search {
	background-color: gainsboro;
	padding: 5px;
	border-radius: 5px;
	margin-top: 5%;
	margin-left: 10%;
	width: 80%;
}

div#Search img {
	width: 24px;
	height: 24px;
	opacity: 0.5;
}

div#Search #SearchInput {
	border: 0;
	background-color: inherit;
	top: 85px;
	font-size: 14px;
	position: absolute;
	margin-left: 5px;
	width: 20%;
}

div#MessagesAndInputs {
	height: 788px;
	border-right: 1px solid mediumspringgreen;
	border-bottom: 1px solid mediumspringgreen;
}

div#InputMessage {
	margin-left: 55%;
	display: none;
}

div#InputMessage textarea {
	resize: none;
	border: 0;
	border-bottom: 3px solid salmon;
	width: 35%;
}

div#InputMessage button#SendMessage {
	border: 0;
	background: aquamarine;
	color: white;
	border-radius: 15px 5px 15px 5px;
	width: 35%;
}

div#ScrollFriends {
	height: 730px;
	overflow-y: hidden;
}

div#ScrollFriends:hover {
	overflow-y: scroll;
}

table#Friends {
	margin-top: 15px;
	margin-left: 5px;
	border-collapse: collapse;
}

tr.Friend > td {
	padding-bottom: 15px;
}

tr.Friend img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

tr.Friend:hover {
	background-color: gainsboro;
}

td.FriendInfo {
	width: 12em;
	padding-left: 5px;
}

td.FriendInfo span.Name {
	font-weight: bold;
}

tr.Friend > .Time, .FriendAvatar {
	vertical-align: top;
}

tr.Friend time {
	color: darkgrey;
	font-size: 14px;
}

div#ScrollMessages {
	display: none;
	height: 650px;
	overflow-y: hidden;
}

div#ScrollMessages:hover {
	overflow-y: scroll;
}

table#Messages {
	padding-left: 15%;
	padding-top: 20px;
}

tr.Message > td {
	padding-bottom: 20px;
}

tr.Message img {
	width: 42px;
	height: 42px;
	border-radius: 30px;
}

tr.Message time {
	color: darkgrey;
	font-size: 14px;
}

tr.Message > .TimeMessage, .FriendAvatarMessage {
	vertical-align: top;
}

td.MessageInfo {
	width: 30em;
}

td.MessageInfo span.NameSender {
	font-weight: bold;
}

td.MessageInfo span.TextMessage {
	line-height: 25px;
}

div#NotSelectedFriend {
	color: darkgray;
	font-size: 22px;
	margin-left: 60%;
	padding-top: 200px;
}
