@{
	ViewBag.Title = "Ms";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaReferences {
	<link rel="stylesheet" type="text/css" href="~/Content/Ms.css" />
	<script type="text/javascript">
		var key = localStorage.getItem("key1");
		if (key == null)
			window.location.href = "/Visit/Login";
	</script>
}

<header id="Page">
	<div id="Panel">
		<div id="Drop-DownList">
			<img id="ImgDrop-DownList" />
			<ul id="" style="display: none">
				<li id="Profile">
					<img id="ImgProfile" />
					<span>Profile</span>
				</li>
				<li id="Settings">
					<img id="ImgSettings" />
					<span>Settings</span>
				</li>
				<li id="About">
					<img id="ImgAbout" />
					<span>About</span>
				</li>
			</ul>
		</div>
		<div id="Limonne">
			<a href="/Account/Ms">Limonne</a>
		</div>
		<button type="button" id="Exit">Exit</button>
	</div>
	<div id="Main">
		<div id="SearchAndFriends">
			<div id="Search">
				<img id="SearchIcon" src="~/Images/search.png" />
				<input type="text" placeholder="search" id="SearchInput" />
			</div>
			<ul id="Friends">
			</ul>
		</div>
		<div id="MessagesAndInputs">
			<ul id="Messages">
				<li id="NotSelectedFriend">
					<span>Select a friend</span>
				</li>
			</ul>
			<div id="InputMessage">
				<textarea placeholder="write a message" id="MessageByUser"></textarea><br>
				<button type="button" id="SendMessage"><span>Send</span></button>
			</div>
		</div>
	</div>
</header>

@section Scripts {
	<script src="~/Scripts/ms.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var key = localStorage.getItem("key1");
			var api = ApiRequest(key);
			var page = {
				dynamicMessage: DynamicMessage(),
				dynamicFriend: DynamicFriend()
			}
			api.GetInfo(function (user) {
				sessionStorage.setItem("user", JSON.stringify(user));
			});
			api.ShowFriends(function (users) {
				page.dynamicFriend.Show(users);
				sessionStorage.setItem("friends", JSON.stringify(users));
			});
			$("#SearchInput").keyup(function (event) {
				var search = $("#SearchInput").val();
				if (search != null && ((event.keyCode >= 97 && event.keyCode <= 122) ||
					(event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 48 && event.keyCode <= 57) ||
					event.keyCode == 95)) {
					api.SearchFriends(search, page.dynamicFriend.Show);
				}
				else if (search == null || search.length == 0) {
					var friends = sessionStorage.getItem("friends");
					page.dynamicFriend.Show(JSON.parse(friends));
				}
			});
			$("#Exit").click(function () {
				localStorage.removeItem("key1");
				window.location.href = "/Visit/Login";
			});
			$("#Friends").on("click", ".Friend", function (event) {
				sessionStorage.setItem("loginFriend", $(this).data("login"));
				page.dynamicFriend.Select();
				// post-ajax request to server to get a chat
			});
			$("#SendMessage").click(function () {
				var message = $("#MessageByUser").val();
				var loginFriend = sessionStorage.getItem("loginFriend");
				var user = JSON.parse(sessionStorage.getItem("user"));
				var name = user.FirstName + " " + user.LastName;
				$("#MessageByUser").val("");
				page.dynamicMessage.Append(name, message);
				page.dynamicMessage.Update(loginFriend, message);
				// add message in server part
				// 1) post-ajax request to server 
				// 2) parse message
				// 3) find a chat
				// ...
			});
			// future functional:
			// in real time show to client online his friend
			// in real time get with client a messages from friends
		});
	</script>
}

